{% extends 'layout.html' %}

{% block body %}
 <h1>Dashboard<small>Welcome {{session.username}} </small></h1>
 <a class="btn btn-success" href="/add_list">Add List</a>
 <hr>
 <table class="table table-striped">
 	<tr>
 		<th>ID</th>
 		<th>Item</th>
 		<th>Price</th>
 		<th>Quantity</th>
 		<th></th>
 		<th></th>
 	</tr>
 	{% for list in lists %}
 	<tr>
 		<td>{{list.id}}</td>
 		<td>{{list.item}}</td>
 		<td>{{list.price}}</td>
 		<td>{{list.quantity}}</td>
 		<td><a href="edit_list/{{list.id}}" class="btn btn-default pull-right">Edit</a></td>
 		<td>
 			<form action="{{url_for('delete_list',id=list.id)}}" method="post">
 				<input type="hidden" name="_method" value="DELETE">
 				<input type="submit" value="Delete" class="btn btn-danger">
 				
 			</form>
 		</td>
 	</tr>
 	{% endfor %}
 </table>
{% endblock %}
